@font-face {
	font-family: "FontFirst";
    // src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
    src: url("../fonts/Nunito_Sans/NunitoSans-Regular.ttf");
}
@font-face {
	font-family: "FontFirstBold";
    // src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
    src: url("../fonts/Nunito_Sans/NunitoSans-Bold.ttf");
}
@font-face {
	font-family: "FontFirstExtraBold";
    // src: url("../fonts/Montserrat/Montserrat-ExtraBold.ttf");
    src: url("../fonts/Nunito_Sans/NunitoSans-ExtraBold.ttf");
}
@font-face {
	font-family: "FontFirst2";
    src: url("../fonts/Nunito_Sans/NunitoSans-Regular.ttf");
}
@font-face {
	font-family: "FontFirst2Bold";
    src: url("../fonts/Nunito_Sans/NunitoSans-Bold.ttf");
}
@font-face {
	font-family: "FontFirst3";
    src: url("../fonts/Raleway/Raleway-Regular.ttf");
}
@font-face {
	font-family: "FontFirst3Bold";
    src: url("../fonts/Raleway/Raleway-Bold.ttf");
}